<ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu">
      <%= link_to "Home", home_index_path, class: "dropdown-item"  %>
      <%= link_to "Cutz", home_index_path, class: "dropdown-item"  %>
      <%= link_to "About", home_index_path, class: "dropdown-item"  %>
    </div>
  </li>
</ul>